<%- include('../partials/upper.ejs') %>


<div style="font-size: 30px;">Welcome to <b style="font-size:70px;color:coral;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">stockpiler </b>  </div>

<br>
<div style="font-size: 20px;">[ An Inventory Management System ]</div><br>
<hr>

<%- include('../partials/lower.ejs') %>